---
import type { IconProps } from "../../types/components";

export interface Props extends IconProps {}

const { class: className, size = 24, ...rest } = Astro.props;
---

<svg
  xmlns="http://www.w3.org/2000/svg"
  class={className}
  width={size}
  height={size}
  fill="none"
  viewBox="0 0 24 24"
  stroke="currentColor"
  {...rest}
>
  <title>Menu</title>
  <path
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="2"
    d="M4 6h16M4 12h16m-7 6h7"></path>
</svg>
